/*------------------------------------------------------------------
    Defaults
-------------------------------------------------------------------*/

.cover-slides {
  position: relative;
}
.cover-slides .slides-container {
  display: none;
}
.cover-slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
.cover-slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 12px;
  height: 45px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -99999px;
}
.slides-pagination :global(a.current) {
  background: #222;
}

/*------------------------------------------------------------------
    Overrides
-------------------------------------------------------------------*/

.cover-slides {
  height: 100vh;
}
.cover-slides .container {
  height: 100%;
  position: relative;
  z-index: 2;
}
.cover-slides .container > .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cover-slides .container > .row {
  height: 100%;
}
.cover-slides h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 64px;
  color: #fff;
}
.cover-slides p {
  font-size: 18px;
  color: #fff;
}
.slides-navigation a {
  background: #d65106;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  font-size: 20px;
  display: block;
  color: #fff;
  border-radius: 4px;
  line-height: 63px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.slides-navigation a i {
  font-size: 40px;
}
.slides-navigation a:hover {
  background: #010101;
}
.slides-pagination a {
  border: 2px solid #ffffff;
}
.slides-pagination :global(a.current) {
  background: #d65106;
  border: 2px solid #d65106;
}
.overlay-background {
  background: #333;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .cover-slides h1 {
    font-size: 42px;
  }
  .cover-slides p {
    font-size: 14px;
  }
  .slides-navigation a {
    height: 42px;
    width: 38px;
    line-height: 33px;
  }
}
