.testimonials-box {
  padding: 70px 0px;
}

.carousel-inner .carousel-item .img-box {
  width: 135px;
  height: 135px;
}
.carousel-control-prev {
  left: -100px;
}
.carousel-control-next {
  right: -100px;
}

.text-warning {
  color: #d65106 !important;
  font-size: 24px;
}

.carousel .carousel-control-prev {
  background: #d65106;
  color: #ffffff;
  display: block;
  position: absolute;
  width: 8%;
  height: 50px;
  top: 50%;
  border-radius: 4px;
  font-size: 28px;
  opacity: 1;
}
.carousel .carousel-control-prev:hover {
  background: #010101;
  color: #ffffff;
}

.carousel .carousel-control-next {
  background: #d65106;
  color: #ffffff;
  display: block;
  position: absolute;
  width: 8%;
  height: 50px;
  top: 50%;
  border-radius: 4px;
  font-size: 28px;
  opacity: 1;
}
.carousel .carousel-control-next:hover {
  background: #010101;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 640px) {
  .carousel-inner .carousel-item p {
    font-size: 14px;
  }
  .carousel-control-prev {
    left: -5px;
  }
  .carousel-control-next {
    right: -5px;
  }
}

@media (max-width: 767px) {
  .contact-imfo-box .col-md-4 {
    margin-bottom: 15px;
  }
  .carousel-control-prev {
    left: 0px;
  }
  .carousel-control-next {
    right: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-control-prev {
    left: -60px;
  }
  .carousel-control-next {
    right: -60px;
  }
}
